@import url('/src/styles/variable.less');
[data-theme="dark"] .download_page .custom-info-block {
  background-color: #e2e7eb !important;
}
.download_page {

  a {
    text-decoration: none;
  }

  margin-top: 50px !important;


  .custom-info-block {
    margin: 28px 0;
    padding: 20px 24px 4px 42px;
    border-radius: 5px;
    transition: color .5s, background-color .5s;
    position: relative;
    font-size: 14px;
    line-height: 1.6;
    font-weight: 500;
    color: #0000008c;
    background-color: #f9f9f9;
    border: 1px solid var(--ifm-color-warning);
    .info-icon{
      width:25px;
      height:25px;
      margin-right:5px;
    }
    .custom-block-title {
      margin-bottom: 0px;
      font-size: 17px;
      font-weight: 500;
      color: #213547;
      transition: color .5s;
    }

    ul li {
      position: relative;
      padding: 4px 0;
    }
  }

  .table-ui {
    display: table;
    max-width: 100%;
    width: 100%;
    // background: #fff;
    background-color: var(--ifm-table-background);
    border: var(--ifm-table-border-width) solid var(--ifm-table-border-color);
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0.28571429rem;
    text-align: left;
    color: var(--ifm-table-head-color);
    border-collapse: separate;
    border-spacing: 0;
    font-size: 1em;

    thead {
      box-shadow: none;

      tr:first-child>th:first-child {
        border-radius: .2rem 0 0 0;
        border-left: none;
        border-top: 0;
      }

      th {
        cursor: auto;
        // background: #f9fafb;
        text-align: inherit;
        color: var(--ifm-table-head-color);
        padding: 0.92857143em 0.78571429em;
        vertical-align: inherit;
        font-weight: 700;
        text-transform: none;
        border: none;
        border-right:var(--ifm-table-border-width) solid var(--ifm-table-border-color);

        &:last-child {
          border-right: none;
        }
      }
    }

    tbody {
      &>tr:nth-of-type(odd) {
        // background-color: #f9f9f9;
        background-color: var(--ifm-table-stripe-background)
      }

      tr {
        &:hover {
          // background: rgba(0, 0, 0, .05) !important;
          color: var(--ifm-table-head-color) !important;
          cursor: pointer;
        }

        td {
          border: none;
          color: var(--ifm-table-cell-color);
          border-top:var(--ifm-table-border-width) solid var(--ifm-table-border-color);
          border-right:var(--ifm-table-border-width) solid var(--ifm-table-border-color);

          &:last-child {
            border-right: none;
          }
        }

      }
    }
  }
}
