@import url('/src/styles/variable.less');

.team_page {

  a {
    text-decoration: none;
  }

  margin-top: 50px!important;

  .team_title {
    font-size: 25px;
    font-weight: 500;
    color: #0F1222;
    margin-top: 50px;
  }

  .team_desc {
    margin-bottom: 40px;
  }

  .team_indent {
    line-height: 40px;
  }

  .desc {
    font-size: 1rem;
    color: #4a4a4a;
    margin-left: 1.2rem;
  }

  .character_list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    padding: 20px 0 0px;

    .character_item {
      border: 1px solid rgba(205, 221, 250, 0.8);
      background-color: rgba(205, 222, 234, 0.2);
      box-shadow: 0 3px 5px rgb(47 85 212 / 8%);
      border-radius: 2px;
      min-width: 0;
      padding: 0 10px 5px;
      margin: 40px 0 42px 0;

      .character_avatar {
        width: 120px;
        height: 120px;
        background: #D8D8D8;
        display: inline-block;
        border-radius: 50%;
        border: 5px solid rgba(255, 255, 255, .08);
        margin: -4rem auto -.5rem;
      }

      .character_name {
        color: @enhance-color;
        line-height: 36px;
        font-size: 15px;
        white-space: nowrap;
        font-weight: 400;
        overflow: hidden;
        background-color: #fff;
        margin-top: 20px;
        border-radius: 18px;
        text-overflow: ellipsis;
        border: 1px solid rgba(205, 221, 250, 0.6);
        box-shadow: 0 3px 5px rgb(47 85 212 / 5%);
      }

      .character_id {
        color: #333;
        line-height: 36px;
        font-size: 12px;
        white-space: nowrap;
        font-weight: 400;
        overflow: hidden;
        border-radius: 18px;
        background-color: #fff;
        text-overflow: ellipsis;
        border: 1px solid rgba(205, 221, 250, 0.6);
        box-shadow: 0 3px 5px rgb(47 85 212 / 5%);

        .githubId {
          color: #666;
          margin-right: 2px;
        }
      }

      .character_link {
        color: rgba(15, 18, 34, 0.65);
        font-weight: 400;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}


/*****************************
  team
*****************************/
.team_user {
  width: 20%!important;
}
.team {
  background: #fff;
  padding: 10px 0;
  text-align: center;
  position: relative;
  &:hover{
    transform:translateY(-10px)
  }
  .team-img {

    img {
      display: inline-block;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      border: 2px solid #f5f5ff ;
    }

  }

  .team-info {
    text-align: center;
    margin-top: 20px;

    ul {
      margin-bottom: 0px;

      li {
        display: inline-block;
        margin: 0px 10px;
      }

    }

    .team-name {
      display: inline-block;
      font-size: 17px;
      font-weight: 600;
      margin-bottom: 10px;
    }

    .team-leader {
      font-size: 12px;
      font-weight: 300;
      margin-bottom: 7px;
      .github-icon {
        width: 20px;
        height: 20px;
        margin-right: 5px;
      }
    }

  }

}

.team.team-hover {
  // background-color: #f5f9ff;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: #fff;
    box-shadow: 0 1.0rem 2rem rgba(0, 0, 0, .05);
  }

}

@media (max-width:991px) {
  .team {
    padding: 20px;
  }

}
.bg-gray{
  background-color: #f5f9ff;
}
